{% extends 'store/base.html' %}
{% load static %}
{% block content %}
{% include 'store/navigation.html' %}

<div class="row">
	<div class="col-lg-6">
		<img style="margin-left: 15px; margin-right: 15px;" src="{{product.imageURL}}" width="100%" height="100%">
	</div>
	<div style="padding:50px" class="col-lg-6">
		<div class="card card-body">			
			<h3>{{product.name}}</h3>
			<hr>
			<h4>Colour: {{product.colour}}</h4>
			<h4>Size: {{product.size}}</h4>
			<h4>Fabric: {{product.fabric}}</h4>
			<h4>Price: INR {{product.price}}</h4>

			<form method="POST" action="{% url 'product' product.id %}">
				{% csrf_token %}
				<input class="btn btn-success" type="submit" value="Add to Cart">
			</form>
		</div>
	</div>
</div>

{% endblock content %}